/********** Eric Meyer's Reset CSS v2.0 **********/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********** Set Default HTML Tags ***********/
b, strong {
	font-weight: bold;
}
i, em {
	font-style: italic;
}
ol {
	list-style-type: decimal;
}
ul {
	list-style-type: disc;
}
ol, ul {
	list-style-position: inside;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	font-weight: bold;
}
a:link, a:visited {
	color: #004891;
}
a:hover, a:active {
	color: darkgray;
}

/********** Page Settings **********/
#wrapper {
	height: 100%;
	min-height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: center;
	align-items: center;
	margin: 0 auto;
	background-color: white;
}
#page {
	overflow: auto;
	margin: 0px auto;
	width: 100%;
	font: 15px/25px Arial, sans-serif;
}
h1 {
	font: 36px/43px Arial, sans-serif;
	font-weight: bold;
	color: #333;
	padding-bottom: 20px;
	max-width: 95%;
}
h2 {
	font: 24px/31px Arial, sans-serif;
	padding-bottom: 10px;
}
h3 {
	font: 18px/25px Arial, sans-serif;
	font-weight: bold;
	padding: 5px 0px;
	margin: 10px 0px 0px 0px;
	max-width: 100%;
}
.button {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	border-radius: 5px;
	background-color: #004891;
	font-weight: bold;
	padding: 5px 10px;
	margin: 5px 10px;
	text-align: center;
	min-width: 110px;
	box-shadow: 1px 2px 2px rgba(0,0,0,.24);
	color: white;
	text-decoration: none;
}
a.button:link, a.button:visited {
	color: white;
}
a.button:hover, a.button:active {
	color: darkgray;
	box-shadow: 1px 3px 2px rgba(0,0,0,.24);
}

/********** Navbar **********/
#menu-bar {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	background-color: #004891;
	width: 100%;
	z-index: 99;
	min-height: 60px;
	box-shadow: 1px 0px 10px #004891;
}
#menu {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	font: 21px/28px Arial, sans-serif;
	color: white;
	margin-left: auto;
	margin-right: auto;
}
#branding {
	-webkit-flex: 0 1 auto;
	flex: 0 1 auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
#logo {
	margin-right: initial;
}
#logo > img {
	max-height: 50px;
	margin-top: 5px;
}
#menu-links {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-align-items: center;
	align-items: center;
}
.menu-item {
	-webkit-flex: 0 1 auto;
	flex: 0 1 auto;
	padding: 2px 10px;
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 30px;
	margin-right: 30px;
}
a.menu-item:link {
	text-decoration: none;
	color: inherit;
}
a.menu-item:visited {
	text-decoration: none;
	color: inherit;
}
a.menu-item:hover, .menu-item.current {
	background-color: lightgray;
	border-radius: 5px;
	color: inherit;
}

/********** Media Queries **********/
@media screen {
	body, html {
		overflow: hidden;
		margin: 0;
		min-height: 100%;
		height: 100%;
	}
	::-webkit-scrollbar {
			width: 0px;
	}
	#wrapper {
		overflow-x: hidden;
	}
}
@media screen and (max-width: 550px) {
	h1 {
		font-size: 30px;
		line-height: 37px;
	}
	h2 {
		font: 27px/34px Arial, sans-serif;
	}
	#logo > img {
		max-height: 35px;
		margin-top: 5px;
	}
	#branding {
		-webkit-flex: 1 1 100%;
		flex: 1 1 100%;
	}
	#menu-links {
		-webkit-justify-content: center;
		justify-content: center;
	}
	.menu-item {
		-webkit-flex: 0 1 auto;
		flex: 0 1 auto;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
@media print {
	#menu {
		display: none;
	}
}
