/********** Eric Meyer's Reset CSS v2.0 **********/
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

/********** Set Default HTML Tags ***********/
  b, strong {
    font-weight: bold;
  }
  i, em {
    font-style: italic;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  ol, ul {
    list-style-position: inside;
  }

/********** Page Settings **********/
  body, html {
    margin: 0;
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
  }
  #wrapper {
    height: 100%;
    min-height: 100%;
    display: block;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  #page {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin: 0px auto;
    width: 100%;
    font: 15px/25px Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  h2 {
    font: 36px/43px Arial, sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  h3 {
    font: 24px/31px Arial, sans-serif;
    padding: 10px 0px;
  }

/********** Navbar **********/
  #menu-bar {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: white;
    width: 100%;
    z-index: 99;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid rgba(0,0,0,.06);
  }
  #menu {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    font: 16px/30px Arial, sans-serif;
    font-weight: bold;
    color: black;
    margin-left: auto;
    margin-right: auto;
  }
  #branding {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
  #logo > img {
    max-height: 50px;
    margin: 5px 5px 0 5px;
  }
  #menu-links {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .menu-item {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    font-size: 15px;
    line-height: 25px;
    cursor: pointer;
    margin: 5px 30px;
    color: #404040;
  }
  .menu-item:hover, .menu-item.current {
    border-bottom: 2px solid #3292aa;
    margin-top: 6px;
  }
  #menuicon {
    cursor: pointer;
    flex: 0 0 auto;
    display: none;
    padding: 5px 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .menuicon {
    display: none;
    width: 14px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
  }
  .spacer {
    visibility: hidden;
  }

/********** Sidebar **********/
  #sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background: white;
    box-shadow: -1px 0 1px lightgray;
    font: 15px/25px Arial, sans-serif;
    text-align: center;
    overflow-y: scroll;
  }
  #closeicon {
    cursor: pointer;
    width: 14px;
    padding: 0px 15px;
    font: 30px/38px Arial, sans-serif;
    font-weight: bold;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  #sidebar h2, #sidebar a {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
  }
  #sidebar a {
    cursor: pointer;
  }
  #sidebar-calendar {
    color: black;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }

/********** Topics **********/
  #content {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .module {
    width: 90%;
    max-width: 1000px;
    margin: 25px auto;
    background-color: white;
  }
  .week {
    color: #3292aa;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .week > .label {
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
    text-align: left;
  }
  .week > .date {
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
    text-align: left;
    text-align: right;
  }
  .topic {
    border-top: 1px solid rgba(0,0,0,.06);
    padding: 20px 25px;
    background-color: rgba(242,245,245,0.8);
  }
  .topic:nth-of-type(1), .topic:nth-of-type(2) {
    border-top: 0;
  }
  h2.title {
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  h2.title::after {
    font-size: 16px;
    vertical-align: middle;
    content: '\00a0\25BA';
  }
  h2.expand::after {
    content: '\00a0\25BC';
  }
  .nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
  }
  .button {
    background:-webkit-linear-gradient(top,#7c7c7c 0,#000000 100%);
    background:linear-gradient(to bottom,#7c7c7c 0,#000000 100%);
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 5px 10px;
    text-align: center;
    min-width: 110px;
    box-shadow: 1px 1px 2px rgba(0,72,145,.50);
    color: gainsboro;
    text-decoration: none;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  a.button:link, a.button:visited, a.button:hover, a.button:active {
    text-decoration: none;
    font-weight: bold;
  }
  a.button:link, a.button:visited {
    color: gainsboro;
  }
  a.button:hover, a.button:active {
    color: white;
    background: #404040;
  }

/********** Calendar **********/
  #calendar {
    -webkit-flex: 0 0 15%;
    flex: 0 0 15%;
    width: 97%;
    min-width: 310px;
    margin: 10px 0px 0px 25px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  h2.calendar {
    margin: 0px 0px 10px 20px;
  }
  h3.calendar {
    color: #3292aa;
    font: 15px/25px Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 25px;
    padding: 0;
  }
  dl {
    margin-left: 50px;
    padding-bottom: 20px;
  }
  dt {
    font-weight: bold;
    padding-top: 10px;
  }
  dd {
    margin-left: 25px;
    white-space: nowrap;
  }

/********** Accessibility **********/
  #skip-navigation {
    width: 0px;
    height: 0px;
  }

/********** Media Queries **********/
  @media screen and (max-width: 950px) {
    #calendar {
      min-width: 270px;
    }
    h2.calendar {
      margin-left: 0px;
    }
    h3.calendar {
      margin-left: 5px;
    }
    dl {
      margin-left: 10px;
    }
    dd {
      margin-left: 15px;
    }
  }
  @media screen and (max-width: 750px) {
    #menu-bar {
      border: initial;
    }
    #branding {
      margin-left: auto;
      margin-right: auto;
    }
    #logo > img {
      max-height: 25px;
      margin-top: 5px;
    }
    h1 {
      font-size: 15px;
      text-align: center;
    }
    #menu-links {
      display: none;
    }
    #menuicon {
      display: block;
    }
    .menuicon {
      display: block;
    }
    #page {
      display: block;
    }
    #calendar {
      display: none;
      margin-left: 0;
    }
    .hide {
      display: none;
    }
    h2.calendar {
      margin-left: 0;
    }
    h3.calendar {
      margin-left: 0px;
    }
    dl {
      margin: 0;
    }
    dd {
      margin-left: 0px;
    }
    h2 {
      font-size: 28px;
      line-height: 35px;
    }
    .summary {
      padding-bottom: 10px;
      max-width: 95%;
    }
    h3 {
      font: 27px/34px Arial, sans-serif;
    }
  }
  @media screen and (max-width: 420px) {
    .spacer {
      display: none;
    }
    #branding {
      margin-left: 12px;
    }
    h1 {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 355px) {
    #menu {
      line-height: 20px;
    }
    #logo > img {
      margin-right: 12px;
    }
    #closeicon {
      font-weight: initial;
    }
  }
