/********** Eric Meyer's Reset CSS v2.0 **********/
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

/********** Set Default HTML Tags ***********/
  b, strong {
    font-weight: bold;
  }
  i, em {
    font-style: italic;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  ol, ul {
    list-style-position: inside;
  }

/********** Page Settings **********/
  body, html {
    margin: 0;
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
  }
  #wrapper {
    height: 100%;
    min-height: 100%;
    display: block;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  #page {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin: 0px auto;
    width: 100%;
    font: 15px/25px Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  h2 {
    font: 36px/43px Arial, sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  h3 {
    font: 24px/31px Arial, sans-serif;
    padding: 10px 0px;
  }

/********** Navbar **********/
  #menu-bar {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: white;
    width: 100%;
    z-index: 99;
    min-height: 60px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid rgba(0,0,0,.06);
  }
  #menu {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    font: 16px/23px Arial, sans-serif;
    font-weight: bold;
    color: #004891;
    margin-left: auto;
    margin-right: auto;
  }
  #branding {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
  #logo > img {
    max-height: 50px;
    margin-top: 5px;
  }
  #menu-links {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .menu-item {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    font-size: 15px;
    line-height: 25px;
    cursor: pointer;
    padding: 5px 30px;
    color: lightgray;
  }
  .menu-item.current {
    color: inherit;
  }

/********** Topics **********/
  #content {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .module {
    width: 90%;
    max-width: 1000px;
    margin: 25px auto;
    background-color: white;
  }
  .week {
    color: #3292aa;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .week > .label {
    text-align: left;
    width: 50%;
  }
  .week > .date {
    text-align: right;
    width: 50%;
  }
  .topic {
    border-top: 1px solid rgba(0,0,0,.06);
    padding: 20px 25px;
    background-color: rgba(242,245,245,0.8);
  }
  .topic:nth-of-type(1), .topic:nth-of-type(2) {
    border-top: 0;
  }
  h2.title {
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  h2.title::after {
    font-size: 16px;
    vertical-align: middle;
    content: '\00a0\25BA';
  }
  h2.expand::after {
    content: '\00a0\25BC';
  }
  .nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
  }
  .button {
    background:-webkit-linear-gradient(top,#004891 0,#003c79 100%);
    background:linear-gradient(to bottom,#004891 0,#003c79 100%);
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 5px 10px;
    text-align: center;
    min-width: 110px;
    box-shadow: 1px 1px 2px rgba(0,72,145,.50);
    color: gainsboro;
    text-decoration: none;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  a.button:link, a.button:visited, a.button:hover, a.button:active {
    text-decoration: none;
    font-weight: bold;
  }
  a.button:link, a.button:visited {
    color: gainsboro;
  }
  a.button:hover, a.button:active {
    color: white;
    background: #006fbf;
  }

/********** Calendar **********/
  #calendar {
    -webkit-flex: 0 0 15%;
    flex: 0 0 15%;
    width: 97%;
    min-width: 310px;
    margin: 10px 0px 0px 25px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  h2.calendar {
    margin: 10px 0px 10px 20px;
  }
  h2.calendar::after {
    content: '';
  }
  h2.calendar.show::after {
    content: '';
  }
  h3.calendar {
    color: #3292aa;
    font: 15px/25px Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 25px;
    padding: 0;
  }
  dl {
    margin-left: 50px;
    padding-bottom: 20px;
  }
  dt {
    font-weight: bold;
    padding-top: 10px;
  }
  dd {
    margin-left: 25px;
    white-space: nowrap;
  }

/********** Accessibility **********/
  #skip-navigation {
    width: 0px;
    height: 0px;
  }

/********** Media Queries **********/
  @media screen and (max-width: 1100px) {
    .module {
      width: 97%;
    }
  }
  @media screen and (max-width: 950px) {
    #calendar {
      min-width: 270px;
    }
    h2.calendar {
      margin-left: 0px;
    }
    h3.calendar {
      margin-left: 5px;
    }
    dl {
      margin-left: 10px;
    }
    dd {
      margin-left: 15px;
    }
  }
  @media screen and (max-width: 750px) {
    #logo > img {
      max-height: 35px;
      margin-top: 5px;
    }
    #branding {
      -webkit-flex: 1 1 100%;
      flex: 1 1 100%;
    }
    h1 {
      font-size: 15px;
    }
    #menu-links {
      -webkit-flex: 1 1 50%;
      flex: 1 1 50%;
      -webkit-justify-content: center;
      justify-content: center;
    }
    .menu-item {
      -webkit-flex: 0 1 50%;
      flex: 0 1 50%;
      text-align: center;
      padding: 5px 0;
    }
    #page {
      display: block;
    }
    #calendar {
      width: 100%;
      margin: 5px 0px -20px 0px;
      text-align: center;
    }
    .hide {
      display: none;
    }
    h2.calendar {
      text-align: center;
      cursor: pointer;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
    h2.calendar::after {
      font-size: 16px;
      vertical-align: middle;
      content: '\00a0\25BA';
    }
    h2.calendar.show::after {
      font-size: 16px;
      vertical-align: middle;
      content: '\00a0\25BC';
    }
    h3.calendar {
      margin-left: 0px;
    }
    dl {
      margin: 0;
    }
    dd {
      margin-left: 0px;
    }
    h2 {
      font-size: 30px;
      line-height: 37px;
    }
    .summary {
      padding-bottom: 10px;
      max-width: 95%;
    }
    h3 {
      font: 27px/34px Arial, sans-serif;
    }
  }
