#readings {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	margin: 30px auto;
	box-shadow: 0 0 7px rgba(0,0,0,0.1);
	background-color: ghostwhite;
	padding: 20px;
	width: 92%;
	max-width: 850px;
}
#readings .row {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	width: 100%;
	text-align: center;
	margin: 5px 0px;
}
#readings .set {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: center;
	align-items: center;
	min-width: 50%;
}
#readings .column {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: stretch;
	align-items: stretch;
	margin: 5px 0px 20px 0px;
	width: 200px;
}
#readings .hidden {
	display: none;
}
