.topic {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	margin: 30px auto;
	box-shadow: 0 0 7px rgba(0,0,0,0.1);
	background-color: ghostwhite;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	min-height: 150px;
	width: 92%;
	max-width: 850px;
}
.hidden {
	display: none;
}
.header {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	margin-left: 20px;
}
.date {
	color: darkgray;
	margin-top: 20px;
}
.summary {
	padding-right: 20px;
	padding-bottom: 30px;
}
.nav {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: stretch;
	align-items: stretch;
	margin-right: 10px;
	margin-left: 10px;
}

/********** Media Queries **********/
@media screen and (max-width: 550px) {
	.topic {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.content {
		-webkit-flex: 1 1 50%;
		flex: 1 1 50%;
	}
	.nav {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
		margin: 0px 0px 10px 0px;
		width: 100%;
	}
	.summary {
		padding-bottom: 10px;
		max-width: 95%;
	}
}
@media print {
	.topic {
		display: none;
	}
}
